<!DOCTYPE html>
<html lang="en">

<head>
    <title>Réinitialiser Mot de passe</title>
    <link rel="icon" href="/images/ssise.png"  sizes="16x16" /> 
    <link rel="stylesheet" href="/stylesheets/auth.css">
</head>

<body>
    <%- include('../header.ejs'); -%>


    <div class="container">
      <div class="form">
        <form action="/reset_password/<%=id%>/<%=token%>" method="post" class="login-email">
          <p class="login-text" style="font-size: 2rem; font-weight: 600;">Réinitialisation</p>
          <div class="input-group">
              <input type="password"  name="password" placeholder="Entrez votre mot de passe" >
              <% if (errors) { %>
              <% errors.forEach(function(error) { %>
                <% if(error.param=="password") {%><small >  <%=error.msg%> </small><% } %>
            <% });%>
            <% } %>

            </div>
            <div class="input-group">
              <input type="password" name="confirmPassword" placeholder="Confirmer votre mot de passe" >
              <% if (errors) { %>
                <% errors.forEach(function(error) { %>
                  <% if(error.param=="confirmPassword") {%><small >  <%=error.msg%> </small><% } %>
              <% });%>
              <% } %>
          </div>
            <div class="input-group">
              <button name="submit" class="btn">Changer</button>
            </div>
        </form>
      </div>
    </div>

    <%- include('../footer.ejs'); -%>

</body>

</html>