<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editer Sous catégorie</title>
    <link rel="icon" href="/images/ssise.png" sizes="16x16" />
</head>

<body>

    <%- include('header.ejs'); -%>

        <div class="container contenu">
            <h2 class="page-title">Editer Sous catégorie</h2>
            <a href="/admin/subcategories" class="btn btn-dark">Annuler</a>
            <br><br>
            <form method="post" action="/admin/subcategories/edit-subcategory/<%= subc._id %>">
                <div class="form-group">
                    <label for="Title">Titre</label>
                    <input type="text" class="form-control" name="title" value="<%= subc.titleSub %>"
                        placeholder="Titre">
                </div>
                <div class="form-group">
                    <label for="">Catégorie </label>
                    <select name="category" class="form-control">
                        <% categories.forEach(function(cat){ %>

                            <% if (subc.category == undefined) { %>
                                <option value="<%= cat.title %>">
                                    <%= cat.title %>
                                </option>
                            <% } else { %>
                                <% if(cat._id.toString()==subc.category.toString()){ %>
                                    <option value="<%= cat.title %>" selected>
                                        <%= cat.title %>
                                    </option>
                                    <% } else{ %>
                                        <option value="<%= cat.title %>">
                                            <%= cat.title %>
                                        </option>
                                <% } %>
                            <%}%>                            
                            <% }); %>
                    </select>
                </div>
                <button class="btn btn-info">Editer</button>
            </form>

        </div>


</body>

</html>